{% extends 'base.html.twig' %}
   {% block title %} 
       Categorias
   {% endblock %}
    {% block cnt_inner %}
    <h1 class="display-4 fst-italic text-center">Crear categoria</h1>
    {{form(frmCategoria)}}
        
    {% endblock %}

