{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block cnt_inner %}
<div class="container p-4 p-md-5 mb-4">
   
     <h1>Registrar usuario </h1>
        {{ form(frmRegistro) }}

</div>

{% endblock %}

