<meta charset="{% block charset %}UTF-8{% endblock %}"</meta>
<meta name="description" content="{% block desc %}Aquí está la Meta-Descripción.{% endblock %}"> </meta>
<meta name="keywords" content="{% block key %}Keywords{% endblock %}"> </meta>
{% block extra_metas %}{% endblock %}

<title>{% block title %}Welcome!{% endblock %}</title>